HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.??*.swp


2026-03-10-functional-transactions/2026-03-10_Functional_Transactions.aux
2026-03-10-functional-transactions/2026-03-10_Functional_Transactions.log
2026-03-10-functional-transactions/2026-03-10_Functional_Transactions.nav
2026-03-10-functional-transactions/2026-03-10_Functional_Transactions.out
2026-03-10-functional-transactions/2026-03-10_Functional_Transactions.pdf
2026-03-10-functional-transactions/2026-03-10_Functional_Transactions.snm
2026-03-10-functional-transactions/2026-03-10_Functional_Transactions.toc
2026-03-10-functional-transactions/_minted-2026-03-10_Functional_Transactions/
2026-03-10-functional-transactions/modify
2026-03-10-functional-transactions/texput.log

